body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  background-image: url('https: //lh3.googleusercontent.com/p/AF1QipO83SqSsi8uU2v8tGzJp9v-_1xEmhDJvO8XLcl9=s1360-w1360-h1020');
}

body.found {
  background-color: green;
}

.container {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#result {
  padding: 10px;
  border-radius: 4px;
  text-align: center;
}

.success {
  background-color: green;
  color: white;
}

.error {
  background-color: red;
  color: white;
}

/* Медіа-запити для адаптації під мобільні пристрої */
@media (max-width: 600px) {
  .container {
    width: 90%;
    padding: 15px;
  }

  input[type="text"] {
    padding: 8px;
    margin-bottom: 8px;
  }

  #result {
    padding: 8px;
  }
}